---
layout: default
title: Startseite
---

{% for post in paginator.posts %}
<article>
  <div class="article-head">
    <a href="{{post.url}}"><h2 class="color theme text bold">{{post.title}}</h2></a>
    <h5>Geschrieben am {{ post.date | date_to_string }}</h5>
  </div>
  <p class="article-content">
    {{post.content | strip_html | truncatewords: 60}}
  </p>
  <!--<div class="article-footer"><a href="{{post.url}}">Weiter</a></div>-->
</article>
{% endfor %}
{% if paginator.total_pages > 1 %}
<div class="paginator">

      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="/" class="btn">
          <span class="fa fa-angle-double-left"></span> Vorherige Seite
        </a>
        {% else %}
        <a href="/page{{paginator.previous_page}}" class="btn">
          <span class="fa fa-angle-double-left"></span> Vorherige Seite
        </a>
        {% endif %}
      {% endif %}
      <span>Seite {{paginator.page}} von {{paginator.total_pages}}</span>
      {% if paginator.next_page %}
      <a href="/page{{paginator.next_page}}" class="btn">
        Nächste Seite <span class="fa fa-angle-double-right"></span>
      </a>
      {% endif %}
</div>
{% endif %}
